@{
    ViewBag.Title = "过滤器";
}


<div class="row">
    <div class="col-md-12">
        <h2>过滤器Demo</h2>
        <p>
           过滤器可以更好的控制浏览器请求过来的URL，只响应特定内容给特定权限的用户。
        </p>
        <ul>         
            <li>判断登录、用户权限</li>
            <li>决策输出缓存</li>
            <li>防盗链防蜘蛛</li>
            <li>本地化与国际化设置</li>
            <li>动态Action</li>
        </ul>
    </div>  
</div>